@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}


@keyframes knowMoreHover {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }

  45% {
    transform: translateX(120%);
    opacity: 0;
  }

  46% {
    transform: translateX(-120%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

/* IMPORTANT: no "forwards" so it replays on every hover */
.group-hover\:animate-knowMoreHover {
  animation: knowMoreHover 0.8s ease-in-out;
}
